<div class="signup-success-dialog modal fade hide">
    <div class="modal-body">
        <h3 class="email-header">Klik <a href="/completesignup?token={{token}}"">hier</a> om verder te gaan</h3>
        <div class="email">{{email}}</div>

        <img src="/images/hand-tree.png" class="tree">
        <div class="instructions">
        </div>

    </div>
</div>
